<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>SugarDreams </title>
        <meta charset="UTF-8"/>
       
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        
        
        <h1>examen</h1>
        
        <p>Podras agregar libros      </p>
        
          <footer th:fragment="footer" class="bg-info text-white mt-5 p-2">
            <div class="container">
                <div class="col">
                    <p class="lead text-center">
                        &COPY; [[#{plantilla.derechos}]]
                        
                    </p>
                    
                </div>
            </div>
        </footer>



    </body>
</html>